* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 50px;
    background-color: #FFFAEC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    max-width: 400px;
    background-color: #F5ECD5;
    padding: 20px;
    border: 1px solid black;
}

.project-title {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
}

h1 {
    font-size: 2rem;
    color: #578E7E;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

.screen {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
    border: 1px solid black;
    padding-left: 10px; 
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: 1px solid black;
}

/* 

make a flex box container for the entire calculator
make a flex box container for the display


COLOR PALETTE:

#FFFAEC
#F5ECD5
#578E7E
#3D3D3D
rgb(255, 250, 236)
rgb(245, 236, 213)
rgb(87, 142, 126)
rgb(61, 61, 61)

*/